<h5 class="title-main display-6 mb-5">İndirilenler</h5>
<div class="contanier-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-2" style="background-color: #dfe0e1">
      <div class="card p-3" style="width: 100%">
        <img
          src="https://1.downloader.disk.yandex.com.tr/preview/f6071ec5bb318fc86f6dba52f722230a5efc7ba2d85e2cb2fe4d6d34107d0a85/inf/fwhLIia_-zlk2uITaqxgbGJbR3ANcQde87h7hiBT0GhEI8fhcC9IFRIL8W4OBV0J-yLh1Ds-lBckf41RQO7cPQ%3D%3D?uid=480948071&filename=Ay%C4%B1c%C4%B1klar.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=480948071&tknv=v2&size=1903x937"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-center">
            Ayılar. <span class="file-extention">jpg</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
