<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h2 class="fw-bolder mb-0 display-6">
          Kişisel ve güvenli bulut depolama alanınız
        </h2>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-people-fill" style="font-size: 2rem"></i>
            </div>
            <h2 class="h5 features-titles">Genel erişim</h2>
            <p class="mb-0">
              Dosyalara veya klasörlere bir bağlantı yoluyla erişim açarak,
              diğer kullanıcıların bunları bir dosya barındırma hizmetinden
              olduğu gibi doğrudan veri deponuzdan görüntülemesine,
              düzenlemesine veya indirmesine izin verirsiniz. Bu tür nesneler
              özel bir simge ile işaretlenecek ve "Paylaşım" bölümünde
              toplanacaktır.
            </p>
          </div>
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-cloud-arrow-up" style="font-size: 2rem"></i>
            </div>
            <h2 class="h5 features-titles">Dosyaları postadan saklama</h2>
            <p class="mb-0">
              Mail.ru Mail'deki gelen ve giden mesajlardan gelen dosyalar da
              "Posta Ekleri" bölümünde bulut deposunda olacaktır. Dosyaların
              indirilmesi ve türlere ve klasörlere göre sıralanması otomatik
              olarak gerçekleşecektir.
            </p>
          </div>
          <div class="col mb-5 mb-md-0 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-star-fill" style="font-size: 2rem"></i>
            </div>
            <h2 class="h5 features-titles">Dosya paylaşımı</h2>
            <p class="mb-0">
              Önemli dosyaları ve en sevdiğiniz fotoğrafları sevdiklerinizle
              birlikte saklayın - bulut depolama, dosya paylaşım hizmeti olarak
              kullanılabilir. Bunu yapmak için Bulutta bir klasör oluşturun ve
              kullanıcıları davet edin - yalnızca önceden eklenmiş verileri
              görmekle kalmaz, aynı zamanda dosyalarını da yükleyebilirler.
            </p>
          </div>
          <div class="col h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-shield-check" style="font-size: 2rem"></i>
            </div>
            <h2 class="h5 features-titles">Güvenli veri depolama</h2>
            <p class="mb-0">
              Buluta kaydettiğiniz her şey bir antivirüs tarafından kontrol
              edilir. Etkilenen dosyalar engellenir ve veri deposuna yüklenemez
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
