<header class="py-5 header-bg">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xxl-6">
        <div class="text-center my-5">
          <h1 class="fw-bolder mb-3">How will you use UpdatePe?</h1>
          <p class="lead fw-normal text-muted mb-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
            corporis sapiente expedita architecto, culpa quaerat amet
            voluptatibus aperiam quibusdam quas, veritatis earum ullam ab,
            mollitia similique necessitatibus perferendis quidem corrupti?
          </p>
          <a class="btn btn-primary btn-lg" href="#scroll-target"
            >Read our story</a
          >
        </div>
      </div>
    </div>
  </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="../../../assets/dwgimg-1.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder dwg-title">For Work</h2>
        <p class="lead fw-normal text-muted mb-0">
          Work efficiently with teammates and clients, stay in sync on projects,
          and keep company data safe—all in one place.
        </p>

        <a
          class="btn btn-primary btn-lg mt-5"
          style="padding: 10px 34px"
          href="#"
          >Get Us for work</a
        >
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="../../../assets/dwgimg-2.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder dwg-title">For personal use</h2>
        <p class="lead fw-normal text-muted mb-0">
          Keep everything that’s important to you and your family shareable and
          safe in one place. Back up files in the cloud, share photos and
          videos, and more.
        </p>

        <a
          class="btn btn-primary btn-lg mt-5"
          style="padding: 10px 34px"
          href="#"
          >Get us for personal use</a
        >
      </div>
    </div>
  </div>
</section>
