<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="File Upload Management" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <!--SNOWCOMP-->
      <!-- <app-snowcomp></app-snowcomp> -->
      <!--Header-->
      <app-header></app-header>

      <!-- Features section-->
      <app-features></app-features>
      <!-- DWG section-->
      <app-dwg></app-dwg>
      <!-- Testimonial section-->
      <app-testimonial></app-testimonial>
      <!-- Blog preview section-->
      <app-blog-preview></app-blog-preview>
      <!-- Mail subs section-->
      <app-mail-subs></app-mail-subs>
    </main>
    <!-- Footer-->
    <app-footer></app-footer>
    <script src="js/scripts.js"></script>
  </body>
</html>
